*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  background:#0f172a;
  color:white;
}

body::-webkit-scrollbar{
    display: none;
}

/* Navbar */

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 10%;
  background:#111827;
}

.logo{
  font-size:24px;
  font-weight:bold;
}

.nav-links{
  display:flex;
  list-style:none;
  gap:25px;
}

.nav-links a{
  color:white;
  text-decoration:none;
}

.nav-links a:hover{
  color:#38bdf8;
}

/* Hero */

.hero{
  min-height:90vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
}

.hero-content{
  max-width:800px;
}

.hero-content h1{
  font-size:55px;
  margin-bottom:15px;
}

.hero-content h2{
  color:#38bdf8;
  margin-bottom:20px;
  font-size:35px;
}

.hero-content p{
  font-size:18px;
  line-height:1.8;
  color:#cbd5e1;
}

.buttons{
  margin-top:30px;
  display:flex;
  justify-content:center;
  gap:15px;
  flex-wrap:wrap;
}

.buttons button{
  padding:12px 25px;
  border:none;
  cursor:pointer;
  border-radius:8px;
  font-size:16px;
  /* background:#38bdf8; */
  background:transparent !important;
  border:2px solid #38bdf8 !important;
  color:white;
}

.buttons button:active{
    background-color: #38bdf8 !important;
    color: #0f172a;
    border: 2px solid #0f172a;
}
.outline{
  background:transparent !important;
  border:2px solid #38bdf8 !important;
}

@media(max-width:768px){

  .navbar{
    flex-direction:column;
    gap:15px;
  }

  .nav-links{
    flex-wrap:wrap;
    justify-content:center;
  }

  .hero-content h1{
    font-size:40px;
  }

  .hero-content h2{
    font-size:28px;
  }
}

@media(max-width:480px){

  .hero-content h1{
    font-size:32px;
  }

  .hero-content h2{
    font-size:22px;
  }

  .hero-content p{
    font-size:15px;
  }

  .buttons button{
    width:100%;
  }
}

/* About */

.about{

    padding:80px 10%;
    text-align:center;
}

.about h2{

    font-size:40px;
    margin-bottom:20px;
}

.about p{

    max-width:900px;
    margin:auto;
    line-height:1.8;
    color:#cbd5e1;
    font-size:18px;
}



/* Skills */

.skills{

    padding:80px 10%;
}

.skills h2{

    text-align:center;
    margin-bottom:50px;
    font-size:40px;
}

.skill-container{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.card{

    background:#1e293b;
    padding:30px;
    border-radius:12px;
    transition:.3s;
}

.card:hover{

    transform:translateY(-8px);
}

.card h3{

    color:#38bdf8;
    margin-bottom:20px;
}

.card ul{

    list-style:none;
}

.card li{

    padding:10px 0;
    border-bottom:1px solid #334155;
}



/* Responsive */

@media(max-width:768px){

.about h2,
.skills h2{

    font-size:32px;

}

.skills{
    margin-top: -50px;
}

.about p{

    font-size:16px;
}

}

/* Projects */
.projects{
    padding:80px 10%;
    background:#0f172a;
}

.projects h2{
    text-align:center;
    font-size:2.2rem;
    color:#fff;
    margin-bottom:40px;
}

.project-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

.project-card{
    background:#1e293b;
    padding:25px;
    border-radius:12px;
    transition:0.3s;
    border:1px solid #334155;
}

.project-card:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 25px rgba(0,0,0,.3);
}

.project-card h3{
    color:#38bdf8;
    margin-bottom:15px;
    font-size:22px;
}

.project-card p{
    color:#cbd5e1;
    line-height:1.7;
    font-size:16px;
}

@media(max-width:768px){

    .projects{
        padding:60px 20px;
    }
    
    .projects{
        margin-top: -50px;
    }
    .projects h2{
        font-size:30px;
    }

    .project-card{
        padding:20px;
    }

    .project-card h3{
        font-size:20px;
    }

    .project-card p{
        font-size:15px;
    }
}

/* Education */

.education{

    padding:80px 10%;
}


.education h2{

    text-align:center;
    font-size:40px;
    margin-bottom:40px;
}

.edu-card{

    background:#1e293b;
    padding:35px;
    border-radius:15px;
    text-align:center;
}

.edu-card h3{

    color:#38bdf8;
    margin-bottom:10px;
}

.edu-card h4{

    margin-bottom:15px;
}

.edu-card p{

    color:#cbd5e1;
    line-height:1.8;
}



/* Experience */

.experience{

    padding:80px 10%;
}

.experience h2{

    text-align:center;
    font-size:40px;
    margin-bottom:40px;
}

.exp-card{

    background:#1e293b;
    padding:35px;
    border-radius:15px;
    text-align:center;
}

.exp-card h3{

    color:#38bdf8;
    margin-bottom:20px;
}

.exp-card p{

    color:#cbd5e1;
    line-height:1.8;
}



/* Contact */

.contact{

    padding:80px 10%;
    text-align:center;
}

.contact h2{

    font-size:40px;
    margin-bottom:30px;
}

.contact p{

    margin:12px 0;
    color:#cbd5e1;
    font-size:18px;
}



/* Footer */

footer{

    padding:25px;
    background:#111827;
    text-align:center;
    color:#94a3b8;
}



/* Responsive */

@media(max-width:768px){

.education h2,
.experience h2,
.contact h2{

    font-size:32px;
}

.education{
    margin-top: -50px;
}
.experience{
    margin-top: -50px;
}
.contact{
    margin-top: -50px;
}

.contact p{

    font-size:16px;
}

}

html{

scroll-behavior:smooth;

}

.navbar{

position:sticky;

top:0;

z-index:1000;

backdrop-filter:blur(15px);

}

.hero{

background:linear-gradient(135deg,#0f172a,#1e293b);

}

.hero span{

color:#38bdf8;

}

.logo{

cursor:pointer;

transition:.3s;

}

.logo:hover{

color:#38bdf8;

}

.nav-links a{

transition:.3s;

}

.nav-links a:hover{

color:#38bdf8;

}

.card,
.project-card,
.edu-card,
.exp-card{

transition:.4s;

}

.card:hover,
.project-card:hover,
.edu-card:hover,
.exp-card:hover{

transform:translateY(-12px);

box-shadow:0 0 20px rgba(56,189,248,.4);

}

button{

transition:.3s;

}

button:hover{

transform:scale(1.05);

}

section{

scroll-margin-top:90px;

}


/* Contact */

.contact{

padding:80px 10%;

}

.contact-container{

display:grid;

grid-template-columns:1fr 1fr;

gap:40px;

align-items:center;

}

.profile{

width:180px;

height:180px;

border-radius:50%;

object-fit:cover;

border:5px solid #38bdf8;

margin-bottom:20px;

}

.contact-info{

text-align:center;

}

.contact-info a{

color:#38bdf8;

text-decoration:none;

font-size:18px;

}

.contact-form form{

display:flex;

flex-direction:column;

gap:20px;

}

.contact-form input,
.contact-form textarea{

padding:15px;

border:none;

border-radius:10px;

background:#1e293b;

color:white;

}

.contact-form button{

padding:15px;

background:#38bdf8;

border:none;

border-radius:10px;

cursor:pointer;

font-size:18px;

}

.contact-form button:hover{

opacity:.9;

}

@media(max-width:768px){

.contact-container{

grid-template-columns:1fr;

}

.profile{

width:140px;

height:140px;

}

.contact-info .githubicon i{
    gap: 10px;
    width: 13%;
    font-size: 20px;
}
.contact-info .linkdinicon i{
    gap: 10px;
    width: 13%;
    font-size: 20px;
}

}


.menu-icon{
    display:none;
    font-size:28px;
    cursor:pointer;
}

@media(max-width:768px){

    .menu-icon{
        display:block;
    }
    
    .rightside{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .nav-links{
        display:none;
        position:absolute;
        top:70px;
        right:20px;
        background:#111827;
        width:220px;
        border-radius:10px;
        flex-direction:column;
        padding:20px;
        gap:20px;
    }

    .nav-links.active{
        display:flex;
    }
}

/* icons */
.githubicon i{
    gap: 20px;
    width: 7%;
    font-size: 22px;
}
.linkdinicon i{
    gap: 20px;
    width: 7%;
    font-size: 22px;
}
.linkdinicon{
    margin-top: -10px;
}
